.silo {
  display: flex;
  margin: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  .silo__graph {
    margin: 0 40px;
    display: flex;
    flex-direction: column;
    .css-1wc848c-MuiFormHelperText-root {
      color: #f44336;
    }
    .silo__graph__title {
      margin: 15px 5px;
      font-size: 20px;
      font-weight: 600;
    }
    .MuiFormControl-root {
      margin: 5px;
    }
  }
  .silo__box__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    .silo__level {
      position: absolute;
      top: 100px;
      left: 33px;
      font-size: 18px;
      font-weight: 600;
    }
    .silo__title {
      font-weight: 500;
    }
    .silo__box {
      position: relative;
      z-index: 0;
      height: 208px;
      min-width: 100px;
    }
    .silo__box:before {
      content: "";
      position: absolute;
      inset: 0;
      z-index: -1;
      background: rgb(80, 74, 74);
      clip-path: polygon(
        0 0,
        100% 0,
        100% calc(100% - 40px),
        calc(100% - 20px) calc(100% - 20px),
        calc(100% - 40px) 100%,
        40px 100%,
        20px calc(100% - 20px),
        0 calc(100% - 40px),
        0 0,
        4px 4px,
        4px calc(100% - 40px - 1.66px),
        calc(20px + 2.83px) calc(100% - 20px - 2.83px),
        calc(40px + 1.66px) calc(100% - 4px),
        calc(100% - 40px - 1.66px) calc(100% - 4px),
        calc(100% - 20px - 2.83px) calc(100% - 20px - 2.83px),
        calc(100% - 4px) calc(100% - 40px - 1.66px),
        calc(100% - 4px) 4px,
        4px 4px
      );
    }

    .silo__box__level {
      height: 130px;
      transition: height 1s;
      width: 92px;
      position: absolute;
      bottom: 4px;
      left: 4px;
      clip-path: polygon(
        0 0,
        100% 0,
        100% calc(100% - 37px),
        calc(100% - 18.5px) calc(100% - 18.5px),
        calc(100% - 37px) 100%,
        38px 100%,
        19px calc(100% - 18.5px),
        0 calc(100% - 37px)
      );
    }
  }
}
